.logo{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 140px;

}

.Hero{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.Hero_img{
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    grid-row: 1/5;
    z-index: -1;
}

.h_img{
    width: 100%;
    height: 100%;
}

.button-box
{
    justify-self: center;
    align-self: center;
    grid-column: 3/4;
    grid-row: 2;
    width: 75px;
    text-align: center;
    border-radius: 8px;
    background-color: #A9BCD0;
    padding: 10px;
    margin: 10px;
    z-index: 1;
    box-shadow: black 5px 5px 5px;
    border: #58A4B0 solid 2px;
}

.banner{
    width: 100%;
    height: 100%;
}

.banner h2{
    text-align: center;
    font-size: 2em;
    color: #ffffff;
    margin-top: -5%;
}

.banner img{
    width: 100%;
    height: 150px;
}

.vid
{
    text-align: center;
}

.box
{
    width: 90%;
    color: #A9BCD0;
    border-radius: 18px;
    background-color: #262626;
    padding: 10px;
    margin: 5%;
}

.refrence a
{
    text-decoration: underline;
    font-size: 1em;
    color: #58A4B0;
}

nav
{

    border-top: 5px solid #262626;
    text-align: center;
    padding: auto;
}

nav a
{
    color: #ffffff;
    text-decoration: none;
    font-size: 2em;
    padding: 2em;
    padding-top: 0;
    padding-bottom: 0;
}

nav a:hover
{
    color: #000000;
    background-color: #58A4B0;
    text-decoration: double;
}

body
{
    margin: 0px;
    padding: 0px;
    background-color: gray;
}

body p
{
    font-size: 1.5em;
    text-align: center;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

.Topic_1, .Topic_2{
    width: 75%;
    height: 100%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0px;
    background-color: #2E3134;
    border: #000000 solid 5px;
    border-radius: 8px;
    color: #A9BCD0
}

.Topic_1 a, .Topic_2 a{
    color: #58A4B0;
    text-decoration: none;
    font-size: 1em;
}

.Topic_1 a:hover, .Topic_2 a:hover{
    color: #000000;
    background-color: #58A4B0;
    text-decoration: double;
}


footer{
    display: flex;
    width: 99%;
    height: 100%;
    background-color: #2E3134;
    color: #ffffff;
    padding: 10px;
}
footer a{

    font-size: 1.5em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    padding: 13px;
    text-decoration: none;
    color: #ffffff;
}

footer a:hover
{
    color: #000000;
    background-color: #ffffff;
    text-decoration: double;
}

h1
{
    text-align: center;
    font-size: 3em;
    color: #ffffff;
    margin-top: -3.5%;
}

h2
{
    text-align: center;
    font-size: 2em;
    color: #ffffff;
}

h3
{
    text-align: center;
    font-size: 1.5em;
    color: #ffffff;
    margin-top: 5%;
}